---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I have vast experience in the IT industry across software testing and development. I have a deep understanding of modern software technology stacks that use microservice architectures, deploy on cloud services using Docker containers, Kubernetes following continuous integration and delivery practices. I have proven experience in helping development teams at startups and enterprises set up quality processes, use automated testing for regression and merges, load test for capacity planning and release frequently with confidence. I have strong programming experience across Javascript, Nodejs, Ruby and Java. Having worked as a professional developer at the beginning of my career and a hobby programmer later, I know mobile and web technologies, how they have changed over the years. I worked in agile teams for most of my career. I love exploring open source technologies related to web and mobile.
		</p>
	</div>
</section>
